<div class="f-info bg-light p-3 text-center">
  <div class="f-info-brand">
    <a href="/"><i class="fa-solid fa-bus-simple"></i> BusRoute</a> |
    <a href="#">Privacy</a> |
    <a href="#">Terms</a> |
    <a href="#">Created by : Shivansh</a>
  </div>
</div>
