<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <a class="navbar-brand" href="/"><i class="fa-solid fa-bus-simple"></i> BusRoute</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav mr-auto">
      <a class="nav-item nav-link" href="/">Home</a>
      <a class="nav-item nav-link" href="#">Features</a>
      <a class="nav-item nav-link" href="#">Pricing</a>
    </div>

    <div class="auth-btns">
      <% if (!loggedIn) { %>
        <a href="/auth/login" class="btn btn-primary mr-2">Login</a>
        <a href="/auth/register" class="btn btn-outline-secondary">Register</a>
      <% } else { %>
        <span class="mr-2">Hi, <%= username %></span>
        <form action="/auth/logout" method="POST" style="display:inline">
          <button type="submit" class="btn btn-secondary">Logout</button>
        </form>
      <% } %>
    </div>
  </div>
</nav>
